<template name="join">
  {{#ionView}}
    {{#ionContent}}
      {{#autoForm collection="Meteor.users" id="joinForm"}}
        <label class="item item-input">
          {{> afQuickField name="emails.0.address"}}
        </label>
        <label class="item item-input">
          {{> afQuickField name="services.password" type="password"}}
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-stable">
            Join us
          </button>
        </div>
      {{/autoForm}}
      <div class="padding">
        <a href="{{pathFor 'signin'}}">Sign in</a>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
