<template name="user">
  {{#contentFor "headerTitle"}}
    <h1 class="title">User profile</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="padding"}}
      {{#with card}}
        <h2>{{username}}</h2>
        <h3>{{title}}</h3>
        <p>{{summary}}</p>
        {{#if isPhoneShared}}
          <p>
            <a href="tel: {{phone}}">{{phone}}</a>
          </p>
        {{/if}}
        {{#unless isPhoneSent}}
          <p>
            <button id="send-phone" class="button button-block button-stable">
              {{#if isPhoneShared}} Handshake! {{else}} Send phone {{/if}}
            </button>
          </p>
        {{/unless}}
        {{#if isDeleted}}
          Deleted
        {{/if}}
        <p>
          <button id="move-to-trash" class="button button-block button-stable">
            Delete
          </button>
        </p>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
